.nota
    background: #e7e7e7
    display: inline-block
    padding: 15px
    width: 200px
    margin: 20px 0
    border-radius: 7px
    border-left: 7px solid #edca00
    color: #000
    h3
        font-weight: 600
        color: #edca00
        text-shadow: -1px 1px #342e00
        margin-bottom: 6px
        text-transform: uppercase
    button
        color: #000
        padding: 3px 8px
        border: none
        margin-right: 8px
        margin-top: 10px
        cursor: pointer
        border-radius: 2px
        transition: box-shadow .2s
    .edit
        box-shadow: -3px 2px #178900
        &:hover
            box-shadow: -2px 1px #178900

    .delete
        box-shadow: -3px 2px #9e0000
        &:hover
            box-shadow: -2px 1px #9e0000
