.header
    background: #fff
    padding: 20px
    display: flex
    flex-flow: row nowrap
    gap: 5px
    justify-content: center
    input
        padding: 8px
        max-width: 100%
        display: inline-block
        margin: 0
        outline: none
    img
        height: auto
        width: 32px
        display: inline-block
        background: #d0d0ed
        padding: 8px 10px
        border-radius: 2px
